<div class="register-container">
    <div class="register-header">
        {{title}}
    </div>
    <div class="register-body">
        <div class="register-form">
            <div class="form-group">
                <div class="form-group-item">
                    <label for="regFirstName">First Name:</label>
                    <input [(ngModel)]="user.firstName" type="text" placeholder="Enter First Name">
                </div>
                <div class="form-group-item">
                    <label for="regLastName">Last Name:</label>
                    <input [(ngModel)]="user.lastName" type="text" placeholder="Enter Last Name">
                </div>
                <div class="form-group-item">
                    <label for="regUsername">Username:</label>
                    <input [(ngModel)]="user.username" type="text" placeholder="Enter Username">
                </div>
                <div class="form-group-item">
                    <label for="regPassword">Password:</label>
                    <input [(ngModel)]="user.password" type="password" placeholder="Enter Password">
                </div>
            </div>

            <button (click)="registerUser()" class="registration-btn">Register</button>
        </div>
        <div class="register-msg">
            {{clientMessage.message}}
        </div>
    </div>
</div>
