<div class="updateUser-container">
    <div class="updateUser-head">
        {{title}}
    </div>
    <div class="updateUser-body">
        <div class="body-group">
            <div class="group-item">
                <label for="firstName">First Name:</label>
                <input type="text" placeholder="{{firstName}}">
            </div>
            <div class="group-item">
                <label for="lastName">Last Name:</label>
                <input type="text" placeholder="">
            </div>
            <div class="group-item">
                <label for="username">Username:</label>
                <input type="text" placeholder="">
            </div>
            <div class="group-item">
                <label for="password">Password</label>
                <input type="password" placeholder="Password">
            </div>
        </div>
    </div>
</div>
