<div class="updateUser-container">
    <div class="container-header">
        <h3>Update Profile</h3>
        <h5></h5>
    </div>
    <hr class="my-4">
    <div id="updateUser-body">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.firstName" type="text" placeholder="Enter First Name">
            <label for="floatingInput">Enter First Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.lastName" type="text" placeholder="Enter Last Name">
            <label for="floatingPassword">Enter Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="user.username" type="text" placeholder="Enter Username">
            <label for="floatingInput">Enter Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="user.password" type="password" placeholder="Enter Password">
            <label for="floatingPassword">Enter Password</label>
        </div>
        <div class="updateUser-form-btn">
            <button type="button" class="btn btn-outline-primary"(click)="updateUser()">Update User</button>
        </div>
    </div>
</div>
