<div class="login-container">
    <div class="container-header">
        <h3>Welcome Back</h3>
        <h5>Please sign in to continue</h5>
    </div>
    <hr class="my-4">
    <div class="container-body">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="username" type="text" placeholder="Enter Username">
            <label for="floatingInput">Enter Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="password" type="password" placeholder="Password">
            <label for="floatingPassword">Enter Password</label>
        </div>

        <div class="login-btn">
            <button type="submit" class="btn btn-outline-primary" (click)="loginUser()" routerLink="/main">Login</button>
        </div>
        <div class="registerUser">
            <div class="regUserText">
                Not a member?
            </div>
            <span><a routerLink="/register">Sign up</a> Today! </span>
        </div>
    </div>
</div>

