<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/main">Monolith Movies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/findmovie">Find Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/updateprofile">My Account</a>
          </li>
        </ul>
        <span class="navbar-text">
            <div>
                <li class="nav-list-item">
                    <a class="nav-link" *ngIf="!loggedOn" routerLink="/login">Login</a>
                </li>
            </div>
            <div>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="loggedOn" (click)="logout()" routerLink="/login">Logoff</a>
                </li>
            </div>
            <div>
                <li class="nav-list-item">
                    <a class="nav-link" *ngIf="loggedOn" routerLink="/updateprofile">
                    <img src="../../../assets/photos/user.png" alt="profileIcon"> 
                    </a>
                </li>
            </div>
        </span>
      </div>
    </div>
  </nav>
 