.nav-group-list{
    display: inline-flex;
    list-style: none;
}

.nav-group-list a{
    text-decoration: none;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list-login-group{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    list-style: none;
    margin-top: -35px;
}

.nav-list-login-group a{
    text-decoration: none;
    margin-right: 40px ;
}

.nav-list-item img{
    width: 2%;
}




