<nav id="nav-main">
    <div class="nav-group">
        <ul class="nav-group-list">
            <div class="nav-header">
                <a routerLink="/" class="app-brand"><strong>Monolith Movies</strong></a>
            </div>
            <li class="nav-list-item"><a routerLink="/allmovies">All Movies</a></li>
            <li class="nav-list-item"><a routerLink="/findmovie">Find Movie</a></li>
            
        </ul>
        <div id="nav-group" class="nav-list-login-group">

            <!-- <li id="nav-login-item" class="nav-list-item"><a routerLink="/login"><img src="../../../assets/photos/user.png" alt="userLogin"></a></li> -->
            <li id="nav-login-item" class="nav-list-item">
                <a *ngIf="!loggedOn" routerLink="/login">Login</a>   
            </li>
            <li class="nav-list-item"><a *ngIf="loggedOn" >Logoff</a> </li>
            <li class="nav-list-item"><a *ngIf="loggedOn" routerLink="/updateprofile"><img src="../../../assets/photos/user.png" alt="profileIcon"> </a> </li>

        </div>
    </div>
</nav>