<div class="main-container">
    <div class="main-header">{{title}}</div>
    <div class="main-body">
        <div class="main-body-item">
            <div class="all-movies">
                <a routerLink="/allmovies"><img src="../../../assets/photos/clapperboard.png" alt="all movies"> </a>  
                <div class="shine"></div>
            </div>
            <div class="all-movies-text">
                Browse Movies
            </div>
        </div>
        <div class="main-body-item">
            <div class="find-movie">
                <a routerLink="/findmovie"><img src="../../../assets/photos/magnifying-glass.png" alt="search movies"></a>
                <div class="shine"></div>
            </div>
            <div class="find-movie-text">
                Search Movies
            </div>
        </div>
        
    </div>
</div>