<div class="findMovie-container">


    <div class="container-header">
        {{title}}
    </div>


    <div class="container-body">
        <div class="form-group">
            <div class="form-input">
                <input class="form-control" [(ngModel)]="movie.name" type="text" placeholder="Enter Movie Title">
            </div>
            <button class="findMovie-btn" (click)="findMovie()">Find Movie</button>
        </div>
        <div class="form-group">
            <div class="form-results" *ngFor="let result of movieResults.Search">

                <div class="card">
                    <img src="{{result.Poster}}" class="card-img-top" alt="moviePoster">
                    <div class="card-body">
                      <h5 class="card-title">{{result.Title}}</h5>
                      <!-- <p class="card-text">Directed By: {{result.Director}}</p> -->
                    </div>
                    <ul class="list-group list-group-flush">
                      <!-- <li class="list-group-item"><strong>Plot:</strong> <br> {{result.Plot}}</li> -->
                      <li class="list-group-item"><strong>Release Year:</strong> {{result.Year}}</li>
                      <!-- <li class="list-group-item"><strong>Rating: </strong>{{result.imdbRating}}</li>
                      <li class="list-group-item"><strong>Top Billed Cast: </strong>{{result.Actors}}</li> -->
                    </ul>
                    <div class="card-body">
                        <!-- TODO: create addFavorite method that adds favorite movie to list-->
                        <!-- TODO: Creat getMovieDetails method that gets details of movie-->
                        <button class="addFavorite">Add to Favorites</button>
                        <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-header">
                                                <img src="{{result.Poster}}" class="card-img-top" alt="moviePoster">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{result.Title}}</h5>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"><strong>Plot:</strong> <br> {{result.Plot}}</li>
                                                        <li class="list-group-item"><strong>Release Year:</strong> {{result.Year}}</li>
                                                        <li class="list-group-item"><strong>Rating: </strong>{{result.imdbRating}}</li>
                                                        <li class="list-group-item"><strong>Top Billed Cast: </strong>{{result.Actors}}</li>
                                                  </ul>
                                            </div>
                                            <div class="card-footer">
                                                <!-- <button type="button" class="btn btn-danger" (click)="modal.close()">Close</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-danger" (click)="triggerModal(modalData)">More Details</button> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>