<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- Connection -->
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.connection.url">jdbc:postgresql://mydb.cejbwmnngrnc.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema="skeleton"</property>

    <!-- Driver -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Unsure-->
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>

    <!-- Connection Pool-->
    <property name="hibernate.connection.pool_size">10</property>

    <!-- Schema DDL-->
    <property name="hibernate.hbm2ddl.auto">create</property>

    <!-- Class Mapping -->
    <mapping class="com.revature.models.UserType"/>
    <mapping class="com.revature.models.User"/>
  </session-factory>
</hibernate-configuration>