<div class="movieDetails-container">

    <div class="movieDetails-head">
        {{title}}
    </div>
    <div class="movieDetails-body">
        <div class="movieDetails-info">
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>
